{{> alert}}
{{!-- form --}}
<div class="row mb-3">
  <div class="col-auto mx-auto">
    <form action="/todos/new" method="POST">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="Add a new todo">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- todos data plane --}}
<ul id="data-plane" class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-auto mr-auto">
        <input type="checkbox" name="done" {{#if this.done}}checked{{/if}} disabled>
        <h5 class="d-inline">{{this.name}}</h5>
      </div>
      <div class="col-auto">
        <a href="/todos/{{this.id}}/edit" class="btn btn-success">Edit</a>
        <form class="del-form d-inline" action="/todos/{{this.id}}/delete?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>