.cursor {
  cursor: pointer;
}

.unselectable {
  pointer-events: none;
}

form small {
  display: inline-block;
}

.todo-label:hover {
  background-color: #91cdf0;
}

.todo-name {
  border: 0;
}

.todo-name:disabled {
  background-color: unset;
}

#dones .todo-name {
  color: #ccc;
  text-decoration: line-through;
}